#y{
	background-image:url("ftb1.jpg");
	background-size:cover;
	

	

}
#b{
	background-image: url("ftb2.jpg");
	background-size: cover;
}
#r{
	background-image: url("ftb2.jpg");
	background-size: cover;
}
#j{
	background-image: url("ftb1.jpg");
	background-size: cover;
	
}
